.custom-navbar {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  .nav-item .nav-item-text {
    min-width: 150px;
  }

  .nav-item-text:hover {
    cursor: pointer;
    color: $green;
  }

  .nav-item-text::after {
    content: '';
    margin-top: 1rem; // equals to mt-3
    height: 6px;
    width: 100%;
  }

  .nav-item.nav-item-active {
    color: $green;
    font-weight: bold;

    .nav-item-text::after {
      background-color: $green;
    }
  }
}
