<ng-container *ngIf="property$ | async as property">
  <section>
    <h5 class="font-weight-bold text-primary">{{ 'description' | transloco }}:</h5>
    <div #collapse class="show-more-show-less" [style.maxHeight]="collapseHeigth$ | async">
      {{ property.description }}
    </div>
    <div
      class="font-weight-bold text-success py-3 cursor-default arrow"
      [ngClass]="{ 'arrow-down': !(isOpen$ | async), 'arrow-up': isOpen$ | async }"
      (click)="toggleCollapse(collapse)"
    >
      {{ 'show-more' | transloco }}
    </div>
  </section>
</ng-container>
