/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import './scss/variables.scss';

$theme-colors: (
  'primary': $blue,
  'success': $green,
);

@import '~bootstrap/scss/bootstrap';

@import './scss/index.scss';

body {
  background-color: #f8f4f4;
  font-size: 16px;
}
