<app-header (showNextProperty)="showNextProperty()" [menus]="headerMenus"></app-header>
<div class="container pb-4">
  <app-property-overview
    [imagesUrl$]="propertyImages$"
    [property$]="currentProperty$"
  ></app-property-overview>
  <app-property-information
    [property$]="currentProperty$"
    (showMap)="showMap()"
  ></app-property-information>
  <app-property-detail
    [property$]="currentProperty$"
    (showNextProperty)="showNextProperty()"
  ></app-property-detail>
</div>

<ng-container *ngIf="isLoading$ | async">
  <div class="loader-container d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-primary">{{ 'loading-information' | transloco }}</h1>
    <div class="loader"></div>
  </div>
</ng-container>
